<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')  %>
</head>
<header>
    <h1>
        <h1>Add The Results To Your <%= exercise.exercise %> </h1>
    </h1>
    <nav>
        <a href="/">Home</a>
        <a href="/<%= exercise.muscleGroup %>/<%= exercise.id %>  ">Back</a>
    </nav>
</header>

<body id="postExerciseBody">
    <form id="postExerciseForm" action="/<%= exercise.muscleGroup %>/<%= exercise.id %>?_method=PUT" method="POST">
        Weight: <input class="postExerciseInputBox" type="text" name="weight" value="<%= exercise.weight %>"><br>
        Notes: <input id="postExerciseNoteBox" type="text" name="notes" value="<%= exercise.notes %> "><br>
        Completed: <input class="postExerciseInputBox" type="checkbox" name="completed" <%= exercise.completed ? 'checked' : '' %>><br>
        <input class="postExerciseInputBox" type="submit" value="Submit">
    </form>
</body>

</html>