<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')  %>
</head>

<body class="homePageBody">
    <%- include('./partials/header.ejs')  %>
    <div>
        <h1 id="homePageWelcomeUser">Hello <%= user.email %> </h1>
        <nav id="homePageNav">
            <a class="homePageHypers" id="homePageChestHyper" href="/<%= user.id %>/chest ">Chest</a><br>
            <a class="homePageHypers" id="homePageBackHyper" href="/<%= user.id %>/back">Back</a><br>
            <a class="homePageHypers" id="homePageBicepHyper" href="/<%= user.id %>/bicep">Bicep</a><br>
            <a class="homePageHypers" id="homePageTricepHyper" href="/<%= user.id %>/tricep">Tricep</a><br>
            <a class="homePageHypers" id="homePageLegHyper" href="<%= user.id %>/leg">Legs</a><br>
        </nav>
    </div>
</body>

</html>