<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/">Home</a>
    <% Exercise.forEach(ex => {%>
    <div>
        <h1>Exercise: <%= ex.exercise %> </h1>
        <p>Reps: <%= ex.reps %></p>
        <p>Duration: <%= ex.duration %></p>
        <p>Weight: <%= ex.weight %></p>
        <p>Notes: <%= ex.notes %></p>
        <p>Date: <%= ex.createdAt %> </p>
        <a href="/<%= ex.muscleGroup %>/<%= ex.id %>  ">See</a>
    </div>

    <%});  %>

</body>

</html>