<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')  %>
</head>

<header id="showExerciseHeader">
    <h1>Exercise: <%= exercise.exercise %> </h1>
    <nav>
        <a id="showPageBackHyper" href="/<%= exercise.muscleGroup %> ">Back</a>
        <a id="showPageAddNewHyper" href="/<%= exercise.muscleGroup %>/<%= exercise.id %>/edit  ">Post Results</a>
        <a id="showPageEditHyper" href="/<%= exercise.muscleGroup %>/<%= exercise.id %>/editexercise  ">Edit</a>
    </nav>
</header>

<body id="showExerciseBody">
    <div id="showExerciseGoalDiv">
        <h1 id="exerciseGoalsHeader">Exercise Goals</h1>
        <p>Sets: <%= exercise.sets %></p>
        <p>Reps: <%= exercise.reps %></p>
        <p>RPE: <%= exercise.rpe %></p>
        <p>Rest: <%= exercise.rest %></p>
    </div>
    <div id="showExercisePostDiv">
        <style>
            #completed {
                color: green;
            }

            #notCompleted {
                color: red;
            }
        </style>
        <h1 class="showExerciseData" id="<%= exercise.completed ? 'completed': 'notCompleted' %>">
            Post Exercise Metrics</h1>
        <p class="showExerciseData">Weight: <%= exercise.weight %> </p>
        <p class="showExerciseData">Notes: <%= exercise.notes %> </p>
        <p class="showExerciseData" id="<%= exercise.completed ? 'completed': 'notCompleted' %>">
            Completed: <%= exercise.completed %>
        </p>
        <p class="showExerciseData">Date: <%= exercise.createdAt %> </p>
    </div>
</body>

</html>