<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
</head>
<body id="postExerciseBody">
    <%- include('../partials/header.ejs')  %>
    
    <header class="secondHeader">
        <h1 class="topHeaderOnes">Add The Results To Your <%= exercise.exercise %></h1>
        <nav>
            <a class="hyperNavs" href="/<%= user %> /<%= exercise.muscleGroup %>/<%= exercise.id %>  ">Back</a>
            <a class="hyperNavs" href="/home">Home</a>
        </nav>
    </header>
    
    <form id="postExerciseForm" action="/<% user %> /<%= exercise.muscleGroup %>/<%= exercise.id %>?_method=PUT"
        method="POST">
        Weight: <input class="postExerciseInputBox" type="text" name="weight" value="<%= exercise.weight %>"><br>
        Notes: <input id="postExerciseNoteBox" type="text" name="notes" value="<%= exercise.notes %> "><br>
        Completed: <input class="postExerciseInputBox" type="checkbox" name="completed"
            <%= exercise.completed ? 'checked' : '' %>><br>
        <input class="postExerciseInputBox" type="submit" value="Submit">
    </form>
</body>

</html>