<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
</head>
<body id="editAllBody">
    <%- include('../partials/header.ejs')  %>
    
    <header class="secondHeader">
        <h1 class="topHeaderOnes">Edit Your <%= exercise.exercise  %> </h1>
        <a class="hyperNavs" href="/<%= user %> /<%= exercise.muscleGroup %>/<%= exercise.id %>  ">Back</a>
        <a class="hyperNavs" href="/home">Home</a>
    </header>

    <form id="editAllForm" action="/<%= user %> /<%= exercise.muscleGroup %>/<%= exercise.id %>?_method=PUT"
        method="POST">
        Exercise: <input class="editAllExerciseInputBox" type="text" name="exercise"
            value="<%= exercise.exercise %> "><br>
        Sets: <input class="editAllExerciseInputBox" type="text" name="sets" value="<%= exercise.sets %> "><br>
        Reps: <input class="editAllExerciseInputBox" type="text" name="reps" value="<%= exercise.reps %> "><br>
        RPE: <input class="editAllExerciseInputBox" type="text" name="rpe" value="<%= exercise.rpe %> "><br>
        Rest: <input class="editAllExerciseInputBox" type="text" name="rest" value="<%= exercise.rest %> "><br>
        <h2>Post Exercise Metrics:</h2><br>
        Weight: <input class="editAllExerciseInputBox" type="text" name="weight" value="<%= exercise.weight %>"><br>
        Notes: <input id="editAllExerciseNoteBox" class="editAllExerciseInputBox" type="text" name="notes"
            value="<%= exercise.notes %> "><br>
        Completed: <input class="editAllExerciseInputBox" type="checkbox" name="completed"
            <%= exercise.completed ? 'checked' : '' %>><br>
        <input class="editAllExerciseInputBox" type="submit" value="Save">
    </form>
</body>

</html>