<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
</head>
<% if(Exercise.muscleGroup) { %>
<header id="indexPageHeader">
    <h1><%= Exercise[0].muscleGroup %> Exercises </h1>
    <nav id="indexPageNav">
        <a id="indexPageHomeLink" href="/home">Home</a>
        <a id="indexPageNewLink" href="<%= Exercise[0].muscleGroup %>/new ">New</a>
    </nav>
</header>

<body id="indexPageBody">
    <% Exercise.forEach(ex => {%>
    <a id="indexPageExerciseHyper" href="/<%= ex.muscleGroup %>/<%= ex.id %>  ">
        <h1 id="indexPageExerciseHeader"><%= ex.exercise %> </h1>
        <p>Sets: <%= ex.sets %></p>
        <p>Reps: <%= ex.reps %></p>
        <p>RPE: <%= ex.rpe %></p>
        <p>Rest: <%= ex.rest %></p>
        <p>Weight: <%= ex.weight %> </p>
        <p>Notes: <%= ex.notes %> </p>
        <p>Completed: <%= ex.completed %> </p>
        <p>Date: <%= ex.createdAt %> </p>
        <form action="/<%= ex.muscleGroup %>/<%= ex.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" id="deleteExercise">
        </form>
    </a>
    <%});  %>

</body>
<% } else { %>
    <h1>No Exercises For this Muscle Group</h1>
<% }  %>

</html>